<a href="https://colab.research.google.com/github/meghabhopatkar/pandas-Assignment/blob/main/pandas_Assigement3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("brendan45774/test-file")

print("Path to dataset files:", path)

Display the names of all passengers who paid a fare greater than
$100 and were under the age of 30.

In [ ]:
import pandas as pd
data = pd.read_csv('/content/archive (1).zip')

In [ ]:
data.head()

In [ ]:
data[(data.Fare >= 100) & (data.Age < 30)]

Find the top 5 oldest passengers. What are their names, ages, and
whether they survived?

In [ ]:
# Sort the DataFrame by 'Age' in descending order and select the top 5
oldest_passengers = data.sort_values(by='Age', ascending=False).head(5)

# Display the 'Name', 'Age', and 'Survived' columns
display(oldest_passengers[['Name', 'Age', 'Survived']])

Count how many passengers have a missing value for their cabin
number (Cabin)

In [ ]:
# Count how many passengers have a missing value for their cabin number (Cabin)
missing_cabin_count = data['Cabin'].isnull().sum()

# Display the count
print(f"Number of passengers with missing cabin information: {missing_cabin_count}")

Extract and create a new column called 'Title' from the 'Name'
column (e.g., Mr., Mrs., Miss, etc.). After creating the column,
display the first 5 unique titles.

In [ ]:
# Extract title from 'Name' column using a regular expression
data['Title'] = data['Name'].str.extract(' ([A-Za-z]+)\.', expand=False)

# Get unique titles and display the first 5
unique_titles = data['Title'].unique()
print("First 5 unique titles:")
for title in unique_titles[:5]:
    print(title)

Sort the dataset based on fare in descending order and display the
top 10 passengers with the highest fares

In [ ]:
# fare decrending order
#display the top 10 passengers with the highest fares
data['Fare'] = data['Fare'].astype
print("top 10 passengers with highest fares")
display('10>highest fares')

find the name of the youngest passenger who did not survive

In [ ]:
# Filter for passengers who did not survive
did_not_survive = data[data['Survived'] == 0]

# Sort by age in ascending order to find the youngest
youngest_did_not_survive = did_not_survive.sort_values(by='Age').head(1)

# Display the name of the youngest passenger who did not survive
if not youngest_did_not_survive.empty:
    print("Name of the youngest passenger who did not survive:")
    display(youngest_did_not_survive['Name'].iloc[0])
else:
    print("No passengers who did not survive found in the data.")

Display the first 5 rows where the passenger's name starts with
the letter 'A'

In [ ]:
# Filter for passengers whose name starts with the letter 'A'
passengers_starting_with_A = data[data['Name'].str.startswith('A')]

# Display the first 5 rows of the filtered data
print("First 5 rows where the passenger's name starts with 'A':")
display(passengers_starting_with_A.head())

Create a new column called ‘FamilySize’, which is the sum of
'SibSp' and 'Parch'. Then, display the first 10 rows where the
family size is greater than 3.

In [ ]:
# Create a new column 'FamilySize'
data['FamilySize'] = data['SibSp'] + data['Parch']

# Filter for rows where FamilySize is greater than 3 and display the first 10
family_size_greater_than_3 = data[data['FamilySize'] > 3]
print("First 10 rows where FamilySize is greater than 3:")
display(family_size_greater_than_3.head(10))

Create a new column ‘FarePerPerson’ by dividing the 'Fare' by
the sum of 'SibSp' + 'Parch' + 1 (to account for the passenger
themselves). Then, find the highest ‘FarePerPerson’ and display
the name and 0fare of that passenger.

In [ ]:
# Ensure 'Fare' is numeric, coercing errors to NaN
data['Fare'] = pd.to_numeric(data['Fare'], errors='coerce')

# Create the 'FarePerPerson' column
data['FarePerPerson'] = data['Fare'] / (data['SibSp'] + data['Parch'] + 1)

# Find the row with the highest 'FarePerPerson'
highest_fare_per_person_passenger = data.loc[data['FarePerPerson'].idxmax()]

# Display the name and fare of that passenger
print("Passenger with the highest 'FarePerPerson':")
display(highest_fare_per_person_passenger[['Name', 'Fare']])