<a href="https://colab.research.google.com/github/meghabhopatkar/pandas-Assignment/blob/main/pandas_Assigement_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("yasserh/housing-prices-dataset")

print("Path to dataset files:", path)

What is the average price of houses based on the number of
bedrooms they have?

In [ ]:
import pandas as pd
average_price_df = pd.read_csv("/content/Housing (1).csv")
average_price_df.head()

Count the number of houses that are furnished in the given
dataset

In [ ]:
import pandas as pd
furnished_df = pd.read_csv("/content/Housing (1).csv")
furnished_df.head()

Calculate the percentage of houses in the dataset have air
conditioning

In [ ]:
import pandas as pd
conditioning_df = pd.read_csv("/content/Housing (1).csv")
conditioning_df.head()

Create a new column called 'PricePerSqFt' that calculates the
price per square foot of each house.

In [ ]:
average_price_df["pricePerSqFt"] = average_price_df["price"]/average_price_df['area']
display =(average_price_df.head(5))

What is the minimum, maximum, and average area (square feet)
of houses with more than or equal to 2 bathrooms. Also print the
minimum, maximum, and average area for each bathrooms no..

Identify houses that have a price above $50,00,000 but with an
area (in square feet) below 4000. List the top 10 results by price in
descending order.

Find the top 5 most expensive unfurnished houses. Display their
price, area, stories and PricePerSqFt.

Display houses with more than 3 bedrooms but an area of less
than 3000 square feet. List the top 5 results by price

For each unique number of bedrooms, calculate the minimum,
maximum, and average price per square foot ('PricePerSqFt') of
houses with that number of bedrooms. Sort the results by the
number of bedrooms in ascending order

(Unique Complex Mapping) Create a new column named
'CostEfficiency' by dividing the 'Price' by the square of 'Area'. Identify
the house with the lowest 'CostEfficiency' and display its price, area,
and location.