<a href="https://colab.research.google.com/github/meghabhopatkar/pandas-Assignment/blob/main/student_performance_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data1= pd.read_csv('/content/StudentsPerformance.csv')

In [ ]:
data1.head()

In [ ]:
data1.info()

In [ ]:
data1.rename(columns={'race/ethnicity':'groups'},inplace=True)

In [ ]:
type(data1['groups'])

In [ ]:
for group,grouped_data in data1.groupby('groups'):
  print(group)
  print(grouped_data.head(3))

GET GROUP TO ACESS THE SINGLE GROUP

In [ ]:
data1.groupby('groups').get_group('group A')

numeric_onlt can call only number

In [ ]:
for group, grouped_data in data1.groupby('groups'):
  print(f'Group: {group}')
  print(grouped_data.sum(numeric_only=True))

In [ ]:
for group, grouped_data in data1.groupby('groups'):
  print(f'Group: {group}')
  print(grouped_data.sum(numeric_only=True))

In [ ]:
for group, grouped_data in data1.groupby('groups'):
  # Corrected the assignment and print statement
  # If you intended to create a dictionary, you can do so outside the loop:
  # group_map = {'all group': 'A,B,C,D'}
  # print(f'Group: {group_map.get(group, group)}') # Example using the dictionary
  print(f'Group: {"A ONLY" if group == "group A" else group}')
  print(f'Group: {"B ONLY" if group == "group B" else group}')
  print(f'Group: {"C ONLY" if group == "group C" else group}')
  print(f'Group: {"D ONLY" if group == "group D" else group}')
  print(f'Group: {"E ONLY" if group == "group E" else group}')

student name with count which has the twice a

In [ ]:
# Filter the DataFrame where the count of 'a' in the 'groups' column is exactly 2
filtered_data_twice_a = data1[data1['groups'].str.count('a') == 2]

# Display the count of these rows
print(f"Number of entries with 'a' twice in the 'groups' column: {len(filtered_data_twice_a)}")

# Optionally, display the filtered data itself
# display(filtered_data_twice_a)

find the parential level of education which has highest             
total in reading score

In [ ]:
#find the parential level of education which has highest
#total in reading score
gp = data1.groupby('parental level of education')['reading score'].sum().sort_values(ascending=False).head(1)
display(gp)

highest maths score

In [ ]:
for group,data in groups: # This way can be used to print that group data.. because it stores similiar as dictionary.
    print(group)
    print(data)

In [ ]:
#ngroups()
detail_group = data1.goupby('groups').ngroups
display(group)

In [ ]:
#ngroups()
detail_group = data1.groupby('parental level of education').ngroups
display(detail_group)

In [ ]:
#indices
gender_groups = data1.groupby('gender')
display(gender_groups.indices)

In [ ]:
#nuniquce
groups_nuniquce = data1.groupby('nuniquce')
groups.nuniquce()

In [ ]:
#count